@{
    Layout = null;
}
<html>
<head>
    <title>Yetkili Olmayan Erişim</title>
</head>
<body>
   
    <h1 style="text-align:center">Üzgünüz, bu bölüme erişim yetkiniz yok.</h1>
    <p style="text-align:center">Bu bölümü görüntülemek için yetkiniz yok. Lütfen yetkili bir kullanıcı olarak giriş yapın veya farklı bir bölüme geçin.</p>
    
</body>
</html>