@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- footer begin -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="widget widget_tags">
                    <h3>About Us</h3>
                    <img src="~/GoCargo/GoCargo Recharge & GoCargo Express/img/logo.png" alt="" class="marginbottom20">
                    <div class="clearfix"></div>
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae.
                    <br>
                    <a href="#" class="btn-arrow id-color hover-light"><span class="line"></span><span class="url">View Details</span></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget">
                    <h3>Twitter Feeds</h3>
                    <div id="tweecool" class="twitter-widget"></div>


                </div>
            </div>

            <div class="col-md-3">
                <div class="widget">
                    <h3>Newsletter</h3>
                    Subscribe to our newsletter and stay updated for special offers!
                    <div class="divider"></div>
                    <input type="text" class="form-control form-border text-center marginbottom10" name="email" id="email" placeholder="Your name" />
                    <input type="submit" id="send" value="Subscribe Now" class="btn btn-custom padding10 width100p" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="widget">
                    <h3>Useful Links</h3>
                    <ul class="list-1-col">
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Disclaimer</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Location</a></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class="subfooter">
        &copy; Copyright 2016 - GoCargo by ExoTheme
    </div>
