@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="center-y">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-ultra-big wow fadeInRight" data-wow-duration="1.5s">
                        <span class="id-color">We are the leading</span><br>
                        WORLDWIDE<br>
                        FREIGHT FORWARD
                    </h1>
                    <a href="#" class="btn btn-custom wow fadeInUp" data-wow-duration="2s">Get Rate Quote</a>
                </div>
                <div class="divider-double"></div>
            </div>
        </div>
    </div>
</div>