<!DOCTYPE html>
<html lang="en">

<head>
   
    @await Html.PartialAsync("../PartialView/head.cshtml");
</head>


<body>
    <div id="preloader"></div>
    <div id="wrapper">

        <header>
            @await Html.PartialAsync("../PartialView/header.cshtml");
        </header>

       @RenderBody();


     
        <!-- footer begin -->
        <footer class="sticky">
            @await Html.PartialAsync("../PartialView/footer.cshtml");

        </footer>

        <!-- footer close -->
    </div>
    <script src="~/gocargo/gocargorecharge&gocargoexpress/js/jquery.min.js"></script>

    <!-- LOAD JS FILES -->
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/bootstrap.min.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.isotope.min.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/easing.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.ui.totop.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/selectnav.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/ender.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/owl.carousel.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.fitvids.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.plugin.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/wow.min.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.magnific-popup.min.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/tweecool.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/jquery.stellar.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/typed.js"></script>

    <!-- theme custom and plugin settings -->
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/custom.js"></script>
    <script src="~/GoCargo/GoCargoRecharge&GoCargoExpress/js/custom-tweecool.js"></script>
</body>
</html>
